html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.posts-container {
  display: flex;
  padding: 2rem 1rem;
}

.post-preview {
  width: 33.333%;
  position: relative;
}

.post-image {
  position: relative;
}

.post-image img {
  width: 100%;
}

.post-page {
  padding: 2rem 1rem;
}

.post-page h1 {
  text-align: center;
}

.post-page-content {
  max-width: 600px;
  margin: 0 auto;
}
